{% set td_width = 180 %}
<h2>あなたにおすすめのゲーム</h2>
<table>
    <tr>
        {% for game in games %}
        <td width="{{ td_width }}">
            <a href="{{ game_url }}{{game.id}}" target="_blank">
                {{ game.title }}
            </a>
        </td>
        {% endfor %}
        <td>
            <a href="http://www.dmm.co.jp/pr/dc/pcgame/001/=/af=erogamend-002" target="_blank">PR</a>
        </td>
    </tr>
    <tr>
        {% for game in games %}
        <td width="{{ td_width }}">
            <a href="{{ game_url }}{{game.id}}" target="_blank">
                <img src="{{ game.image }}" style="width:{{td_width}}px;height:auto;">
            </a>
        </td>
        {% endfor %}
        <td>
            <a href="http://www.dmm.co.jp/pr/dc/pcgame/001/=/af=erogamend-002" target="_blank"><img src="http://pics.dmm.com/af/a_pcgame151/120_240.jpg" width="120" height="240" alt="ダイレクト特集ページ用バナー（ダウンロード版）" border="0"></a>
        </td>
    </tr>
</table>
<p>意見要望は <a href="http://twitter.com/roronya">@roronya</a> まで</p>
